In [1]:
#import packages
from boto3.session import Session
import boto3
import pandas as pd

In [2]:
#Variable names for Bucket, Access Key ID, and Secret Access Key
bucket_name = "mindex-data-analytics-code-challenge"
Key_ID ='AKIAZZ33YB65GZIN656A'
Secret_Key ='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'

In [7]:
#S3 access and download CSV files to local folder
s3 = boto3.client('s3', aws_access_key_id = Key_ID, aws_secret_access_key = Secret_Key)
s3.download_file(bucket_name,'bengals.csv','/Users/matthewfioravanti/Desktop/Mindex Files/bengals.csv')
s3.download_file(bucket_name,'boyd_receiving.csv','/Users/matthewfioravanti/Desktop/Mindex Files/boyd_receiving.csv')
s3.download_file(bucket_name,'chase_receiving.csv','/Users/matthewfioravanti/Desktop/Mindex Files/chase_receiving.csv')
s3.download_file(bucket_name,'higgins_receiving.csv','/Users/matthewfioravanti/Desktop/Mindex Files/higgins_receiving.csv')

In [2]:
#loading each CSV file into pandas dataframe from Mindex folder
bengals_df = pd.read_csv('/Users/matthewfioravanti/Desktop/Mindex Files/bengals.csv')
boyd_df = pd.read_csv('/Users/matthewfioravanti/Desktop/Mindex Files/boyd_receiving.csv')
chase_df = pd.read_csv('/Users/matthewfioravanti/Desktop/Mindex Files/chase_receiving.csv')
higgins_df = pd.read_csv('/Users/matthewfioravanti/Desktop/Mindex Files/higgins_receiving.csv')

In [15]:
#checking df
bengals_df[:10]

   Week Opponent Location  Result
0  PRE1       TB     Away     1.0
1  PRE2      WSH     Away     0.0
2  PRE3      MIA     Home     0.0
3  REG1      MIN     Home     1.0
4  REG2      CHI     Away     0.0
5  REG3      PIT     Away     1.0
6  REG4      JAX     Home     1.0
7  REG5       GB     Home     0.0
8  REG6      DET     Away     1.0
9  REG7      BAL     Away     1.0

In [11]:
#Specifying column name by player
boyd_df.rename(columns = {'Yards':'Boyd Yards','TD':'Boyd TD'}, inplace=True)
chase_df.rename(columns = {'Yards':'Chase Yards','TD':'Chase TD'}, inplace=True)
higgins_df.rename(columns = {'Yards':'Higgins Yards','TD':'Higgins TD'}, inplace=True)

In [32]:
#replacing binary result values with string
result_conversion = {1:'Win', 0:'Loss'}
bengals_df.replace({"Result":result_conversion},inplace=True)

In [33]:
#merge all dataframes into single instance
bengals_final_df = bengals_df.merge(boyd_df, how='inner', on='Week').merge(chase_df, on='Week').merge(higgins_df, on='Week')

In [35]:
#checking final df
print(bengals_final_df)

     Week Opponent Location Result  Boyd Yards  Boyd TD  Chase Yards  \
0    REG1      MIN     Home    Win          32        0          101
1    REG2      CHI     Away   Loss          73        0           54
2    REG5       GB     Home   Loss          24        0          159
3    REG6      DET     Away    Win           7        0           97
4    REG7      BAL     Away    Win          39        0          201
5    REG8      NYJ     Away   Loss          69        1           32
6    REG9      CLE     Home   Loss          11        0           49
7   REG11       LV     Away    Win          49        0           32
8   REG12      PIT     Home    Win          13        0           39
9   REG13      LAC     Home   Loss          85        0           52
10  REG14       SF     Home   Loss          55        0           77
11  REG15      DEN     Away    Win          96        1            3
12  REG16      BAL     Home    Win          85        1          125
13  REG17       KC     Home    Win          36        1          266
14  POST1       LV     Home    Win          26        1          116
15  POST2      TEN     Away    Win          17        0          109
16  POST3       KC     Away    Win          19        0           54
17  POST4      LAR  Neutral   Loss          48        0           89

    Chase TD  Higgins Yards  Higgins TD
0          1             58           1
1          1             60           1
2          1             32           0
3          0             44           0
4          1             62           0
5          1             97           0
6          0             78           0
7          1             15           0
8          0            114           1
9          0            138           1
10         2            114           0
11         0             23           0
12         0            194           2
13         3             62           0
14         0             10           0
15         0             96           0
16         1            103           0
17         0            100           2

In [37]:
import psycopg2
from sqlalchemy import create_engine

In [41]:
#connecting to postgresql DB
conn_string = 'postgresql://matthew_fioravanti:fatthewmioravanti@ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com/postgres'
engine = create_engine(conn_string)
#write df to db
bengals_final_df.to_sql('matthew_fioravanti', engine, if_exists='replace')

18